<div class="product-dialog">
    <h2 mat-dialog-title>{{product.title}}</h2>
    <mat-dialog-content class="mat-typography">
        <div class="product-item-thumb">
            <img src='{{product.imageUrl}}'>
        </div>
        <p>{{product.description}}</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <div class="actions">
            <div class="product-price">$ {{product.price}}</div>
            <div class="product-actions">
                <button mat-button mat-dialog-close>Cancel</button>
                <button mat-button (click)="addToCart(product)" cdkFocusInitial>
                    <mat-icon>add_shopping_cart</mat-icon>
                    Add to Cart
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
