<div class="store-list">
    <div *ngFor="let p of products" class="store-item">
        <div class="store-item-thumb">
            <img src='{{p.imageUrl}}'>
        </div>
        <div class="store-item-title">
            Title: {{p.title}}
        </div>
        <div class="store-item-brand">
            Brand: {{p.brand}}
        </div>
        <div class="store-item-description">
            Description: {{p.description}}
        </div>
        <div class="store-item-price">
            <div>Price: $ {{p.price}}</div>
            <button (click)="addToCart(p)">Add to Cart</button>
        </div>
    </div>
</div>
