<mat-toolbar color="primary" *ngIf='authService.uid | async'>
    <mat-toolbar-row>
        <div>
            <span>Generic Store</span>
            <button mat-button [routerLink]="['/store']">Shop</button>
        </div>
        <div>
            <button mat-button [routerLink]="['/cart']"> Cart</button>
            {{authService.currentUser.email}}
            <button mat-button (click)="authService.logout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
